@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");

body {
	font-family: "Roboto", sans-serif;
}

#header-logo-img :hover {
	text-shadow: 0 0 3px #fff, 0 0 5px #fff;
}

footer {
	clear: both;
	position: relative;
	height: 200px;
	margin-top: -200px;
}
